<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= @title || "Middleman" %></title>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:300,400,700,900|Josefin+Sans:400,600,700" rel="stylesheet" type="text/css">

<%= stylesheet_link_tag :site %>

<%= javascript_include_tag 'main' %>

<%= favicon_tag 'images/favicon.png' %>

</head>

<body>

<div id="page-content">
	<%= partial "header" %>
  <%= yield %>
  <%= partial "footer" %>
</div>

</body>
</html>