<footer style="padding: 80px 0 80px; background: white;">
     <div class="wrapper-small">    
        <div class="column-section clearfix">
            <div class="column one-fourth">
                <p>
                    <%= t(:max_zhukow) %> <br />
                     <%= t(:creative_developer) %> 
                </p>
            </div>

            <div class="column one-fourth">
                <p>
                    <%= t(:phone_data) %>  <br />
                    <%= t(:email_data) %> 
                </p>
            </div>

            <div class="column one-fourth">
                <p>
                    <a style="color: black" href="https://twitter.com/maxzhukow"><%= t(:twitter) %> </a> <br />
                    <a style="color: black" href="https://dribbble.com/maxzhukow"><%= t(:dribbble) %> </a>
                </p>
            </div>
            
            <div class="column one-fourth last-col" style="text-align:right">
                <a href="#page-content" style="color: black"><%= t(:back_to_top) %> </a>
            </div>
        </div>
                    
    </div>
</footer>