<% @title = t(:title_about) %>

<section id="page-about">
    <div id="page-about-title">
        <p>
            <%= t(:about_1) %><br />
            <%= t(:about_2) %>
            <%= t(:about_3) %><br />
            <% link_to '/images/info.jpg', :class => 'info-link' do %>
                <%= t(:about_4) %>
            <% end %>
            <br />
            <span>
            <strong><%= t(:phone) %></strong>
            <br />
            <%= t(:phone_data) %>
            </span>
            <span>
            <strong><%= t(:email) %></strong>
            <br />
            <%= t(:email_data) %>
            </span>
        </p>
    </div>
</section>