<% @title = t(:title_about) %>

<!-- HERO  -->
<section id="hero" class="hero-full parallax-section text-light" data-parallax-image="/images/about.jpg">
    <div class="page-title">
        <p>
            <%= t(:about_1) %><br />
            <%= t(:about_2) %><br />
            <%= t(:about_3) %><br />
            <br />
            <span>
            <strong><%= t(:phone) %></strong>
            <br />
            <%= t(:phone_data) %>
            </span>
            <span>
            <strong><%= t(:email) %></strong>
            <br />
            <%= t(:email_data) %>
            </span>
        </p>
    </div>
</section>
<!-- HERO -->  