<% @title = t(:title_home) %>

        
<!-- PAGEBODY -->
<section id="page-body">
	
	<div class="wrapper">
            	
		<div id="portfolio-grid" class="wolf-grid clearfix" data-randomhorizontaloffset="false" data-mouseparallax="true">
			
			<div class="wolf-item portfolio-wolf-item branding">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
                    	<% link_to '/projects/stabilo.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-1.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption portfolio-caption" style="margin-top: -15%;">
                        <% link_to '/projects/stabilo.html', :class => 'wolf-caption-link', :style => 'border-left: 6px solid #64BE60; white; padding: 15px;' do %>
                        	<h6 class="alttitle portfolio-category" style="color: #64BE60;"><%= t(:newsletter) %></h6>
							<h4 class="portfolio-name" style="color: #64BE60;"><strong><%= t(:stabilo) %></strong></h4>
						<% end %>
					</div>
				</div>
			</div>
			
			<div class="wolf-item portfolio-wolf-item photography">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
                    	<% link_to '/projects/elephantbleu.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-2.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption portfolio-caption" style="margin-bottom: 10%; left: -80px">
						<% link_to '/projects/elephantbleu.html', :class => 'wolf-caption-link', :style => 'border-right: 6px solid #79A0CB; padding: 15px;' do %>
                        	<h6 class="alttitle portfolio-category" style="color: #79A0CB;"><%= t(:web_application) %></h6>
							<h4 class="portfolio-name" style="color: #79A0CB;"><strong><%= t(:elephantbleu) %></strong></h4>
                        <% end %>
					</div>
				</div>
			</div> 
            
            <div class="wolf-item portfolio-wolf-item photography">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
                    	<% link_to '/projects/kolb.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-4.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption portfolio-caption" style="margin-left: 20px; margin-top: 90%;">
						<% link_to '/projects/kolb.html', :class => 'wolf-caption-link', :style => 'border-left: 6px solid #33A778; padding: 15px;' do %>
                        	<h6 class="alttitle portfolio-category" style="color: #33A778;"><%= t(:serious_game) %></h6>
							<h4 class="portfolio-name" style="color: #33A778;"><strong><%= t(:kolb) %></strong></h4>
                       	<% end %>
					</div>
				</div>
			</div>
            
            <div class="wolf-item portfolio-wolf-item print">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
                    	<% link_to '/projects/stumpf.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-3.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption portfolio-caption" style="top:40px;">
                        <% link_to '/projects/stumpf.html', :class => 'wolf-caption-link', :style => 'border-right: 6px solid #905E37;  padding: 15px;' do %>
                        	<h6 class="alttitle portfolio-category" style="color: #905E37;"><%= t(:website) %></h6>
							<h4 class="portfolio-name"><strong style="color: #905E37;"><%= t(:mr_stumpf) %></strong></h4>
						<% end %>
					</div>
				</div>
			</div>
			                
			<div class="wolf-item portfolio-wolf-item branding">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
                    	<% link_to 'projects/waza.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-5.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption cbottom portfolio-caption" style="margin-right:8%;">
						<% link_to '/projects/waza.html', :class => 'wolf-caption-link', :style => 'border-left: 6px solid #555555; padding: 15px;' do %>
                        	<h6 class="alttitle portfolio-category" style="color: #555555;"><%= t(:website) %></h6>
							<h4 class="portfolio-name"><strong style="color: #555555;"><%= t(:waza) %></strong></h4>
						<% end %>
					</div>
				</div>
			</div>
            
            <div class="wolf-item portfolio-wolf-item branding">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
					<% link_to 'projects/sids67.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-6.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption cbottom portfolio-caption" style="margin-right:0%;">
						<% link_to '/projects/sids67.html', :class => 'wolf-caption-link', :style => 'border-right: 5px solid #C81D1B; padding: 15px;' do %>
                        	<h6 class="alttitle portfolio-category" style="color: #C81D1B;"><%= t(:event_card) %></h6>
							<h4 class="portfolio-name"><strong style="color: #C81D1B;"><%= t(:sids67) %></strong></h4>
						<% end %>
					</div>
				</div>
			</div>    
            
                        		
		</div> <!-- END #portfolio-grid .wolf-container -->
		
	</div>
    
	</section>
<!-- PAGEBODY -->
