<% @title = t(:title_home) %>

        
<!-- PAGEBODY -->
<section id="page-body">
	
	<div class="wrapper">
            	
		<div id="portfolio-grid" class="wolf-grid clearfix" data-randomhorizontaloffset="false" data-mouseparallax="true">
			
			<div class="wolf-item portfolio-wolf-item branding">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
                    	<% link_to '/projects/stabilo.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-1.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption portfolio-caption left-text" style="margin-top: -15%;">
                        <% link_to '/projects/stabilo.html', :class => 'wolf-caption-link border-stabilo' do %>
                        	<h6 class="alttitle portfolio-category text-stabilo"><%= t(:newsletter) %></h6>
							<h4 class="portfolio-name text-stabilo"><strong><%= t(:stabilo) %></strong></h4>
						<% end %>
					</div>
				</div>
			</div>
			
			<div class="wolf-item portfolio-wolf-item photography">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
                    	<% link_to '/projects/elephantbleu.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-2.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption portfolio-caption right-text" style="margin-bottom: 10%; left: -80px">
						<% link_to '/projects/elephantbleu.html', :class => 'wolf-caption-link  border-elephantbleu' do %>
                        	<h6 class="alttitle portfolio-category text-elephantbleu"><%= t(:web_application) %></h6>
							<h4 class="portfolio-name text-elephantbleu"><strong><%= t(:elephantbleu) %></strong></h4>
                        <% end %>
					</div>
				</div>
			</div> 
            
            <div class="wolf-item portfolio-wolf-item photography">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
                    	<% link_to '/projects/kolb.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-4.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption portfolio-caption left-text" style="margin-left: 20px; margin-top: 90%;">
						<% link_to '/projects/kolb.html', :class => 'wolf-caption-link border-kolb' do %>
                        	<h6 class="alttitle portfolio-category text-kolb"><%= t(:serious_game) %></h6>
							<h4 class="portfolio-name text-kolb"><strong><%= t(:kolb) %></strong></h4>
                       	<% end %>
					</div>
				</div>
			</div>
            
            <div class="wolf-item portfolio-wolf-item print">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
                    	<% link_to '/projects/stumpf.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-3.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption portfolio-caption right-text" style="top:40px;">
                        <% link_to '/projects/stumpf.html', :class => 'wolf-caption-link border-stumpf' do %>
                        	<h6 class="alttitle portfolio-category text-stumpf"><%= t(:website) %></h6>
							<h4 class="portfolio-name text-stumpf"><strong><%= t(:mr_stumpf) %></strong></h4>
						<% end %>
					</div>
				</div>
			</div>
			                
			<div class="wolf-item portfolio-wolf-item branding">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
                    	<% link_to 'projects/waza.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-5.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption cbottom portfolio-caption left-text" style="margin-right:8%;">
						<% link_to '/projects/waza.html', :class => 'wolf-caption-link border-waza' do %>
                        	<h6 class="alttitle portfolio-category text-waza"><%= t(:website) %></h6>
							<h4 class="portfolio-name text-waza"><strong><%= t(:waza) %></strong></h4>
						<% end %>
					</div>
				</div>
			</div>
            
            <div class="wolf-item portfolio-wolf-item branding">
				<div class="wolf-item-inner">
					<div class="wolf-media portfolio-media">
					<% link_to 'projects/sids67.html', :class => 'wolf-media-link' do %>
                    		<%= image_tag 'work-6.jpg', :alt => '' %>
                    	<% end %>
                	</div>
					
					<div class="wolf-caption cbottom portfolio-caption right-text" style="margin-right:0%;">
						<% link_to '/projects/sids67.html', :class => 'wolf-caption-link border-sids' do %>
                        	<h6 class="alttitle portfolio-category text-sids"><%= t(:event_card) %></h6>
							<h4 class="portfolio-name text-sids"><strong><%= t(:sids67) %></strong></h4>
						<% end %>
					</div>
				</div>
			</div>    
            
                        		
		</div> <!-- END #portfolio-grid .wolf-container -->
		
	</div>
    
	</section>
<!-- PAGEBODY -->
